.app {
  text-align: center;
  
}
body{
  background: url('C:\vs code\react-crud\src\imges.webp');
}
.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: transparent;

  border-radius: 4px;
  margin: 10px 0;
}

.user-item div {
  display: flex;
  flex-direction: column;
}
